<div class="repeatable-item">
	{{> BlueprintFormRepeatingMenu}}
	<div class="form-group">
		<label>Примечание</label>
		<textarea type="text" class="form-control auto-expand" data-name="detail">{{{fmtTextarea detail}}}</textarea>
	</div>
</div>
