<header class="app-header fixed-top">
	<div class="app-header-heading">
		<div class="app-container">
			<h1>
				<img src="images/icon-giffyglyph.png">
				<a href="https://monstermaker.cyborgsandmages.com/" target="_blank">
					<span>Киборги и Чародеи</span>
					<span>Редактор статблоков</span>
				</a>
			</h1>
			<a href="https://www.twitter.com/avpalikhov" class="btn btn-primary" target="_blank" data-type="twitter">
				<span class="fab fa-twitter"></span>
			</a>
			<a href="https://www.facebook.com/palikhov/" class="btn btn-primary" target="_blank" data-type="facebook">
				<span class="fab fa-facebook-f"></span>
			</a>
			<a href="https://twitch.tv/palikhov/" class="btn btn-primary" target="_blank" data-type="twitch">
				<span class="fab fa-twitch"></span>
			</a>
			<a href="https://youtube.com/@cyborgsandmages7486" class="btn btn-primary" target="_blank" data-type="youtube">
				<span class="fab fa-youtube"></span>
			</a>
			<a href="https://www.patreon.com/palikhov" class="btn btn-primary btn-patreon" target="_blank" data-type="patreon">
				<span class="fab fa-patreon"></span>
			</a>
			<button data-toggle="modal" data-target="#modal-about" class="btn btn-primary" data-type="about">
				 <span class="fas fa-question"></span>
			</button>
			<button class="btn btn-primary btn-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				 <span class="fas fa-bars"></span>
			</button>
		</div>
	</div>
	<div class="app-header-navbar">
		<nav class="navbar navbar-expand-lg">
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="https://www.reddit.com/"><span class="fab fa-reddit-alien"></span>Reddit <span class="nav-link-detail">(u/palikhov)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.twitter.com/AVPalikhov"><span class="fab fa-twitter"></span>Twitter <span class="nav-link-detail">(@AVPalikhov)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://www.facebook.com/palikhov"><span class="fab fa-facebook-f"></span>Facebook <span class="nav-link-detail">(palikhov)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://twitch.tv/palikhov"><span class="fab fa-twitch"></span>Twitch <span class="nav-link-detail">(palikhov)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://youtube.com/@cyborgsandmages7486"><span class="fab fa-youtube"></span>YouTube</a>
					</li>
					<li class="nav-item">
						<button data-toggle="modal" data-target="#modal-about" class="nav-link">
							<span class="fas fa-question"></span>Про
						</button>
					</li>
					<li class="nav-item">
						<button data-toggle="modal" data-target="#modal-settings" class="nav-link">
							 <span class="fas fa-cog"></span>Настройки
						</button>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="app-header-navigation">
		<div id="router-navigation" class="app-container"></div>
	</div>
</header>
<section class="app-body">
	<div id="router-breadcrumbs"></div>
	<div id="router-body" class="app-container"></div>
</section>
<footer class="app-footer">
	<div class="app-footer-copywrite">
		<div class="app-container">
			<div class="work">
				<h5>Проекты</h5>
				<ul>
					<li><a href="https://cyborgsandmages.com/" data-type="project1">Киборги и Чародеи</a></li>
					<li><a href="https://srd.dnd-5e.org" data-type="project2">Перевод SRD 5.1 на русский язык</a></li>
				</ul>
			</div>
			<div class="about">
				<h5>Про</h5>
				<ul>
					<li><a href="mailto:a.v.palikhov@hotmail.com">Обратная связь</a></li>
					<li><a href="https://www.patreon.com/palikhov">Стать патроном</a></li>
				</ul>
			</div>
			<div class="links">
				<p><a href="https://twitter.com/avpalikhov" data-type="twitter"><span class="fab fa-twitter"></span></a><a href="https://www.facebook.com/cyborgsandmages/" data-type="facebook"><span class="fab fa-facebook"></span></a><a href="https://twitch.tv/palikhov" data-type="twitch"><span class="fab fa-twitch"></span></a><a href="https://www.youtube.com/channel/" data-type="youtube"><span class="fab fa-youtube"></span></a><a href="https://www.patreon.com/palikhov" data-type="patreon"><span class="fab fa-patreon"></span></a></p>
				<p>Основано на Giffyglyph's Monster Maker © 2023</p>
			</div>
		</div>
	</div>
</footer>
<div class="modals">
	<div id="modal-about" class="modal fade">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<span class="card-icon fas fa-question"></span> Редактор статблоков
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Добро пожаловать в <strong>Редактор статблоков</strong>! Это веб-приложение основано на Giffyglyph Monster Maker <strong><a href="https://drive.google.com/file/d/1Yrw0KYYndfheQkRzyYRbuRhMsY7ABOrW/view" target="_blank">GIFFYGLYPH'S MONSTER MAKER (PDF)</a></strong> чтобы помочь создавать статблоки существ для D&D 5e <i>действительно быстро</i>.</p>
					<div class="alert alert-default text-center">
						<p>Если Вам нравится это приложение и вы хотите поспособствовать его развитию, вы можете стать нашим патроном</p>
						<p>
							<a href="https://www.patreon.com/palikhov" class="btn btn-secondary" target="_blank">
								<span class="card-icon fab fa-patreon"></span> Стать патроном
							</a>
						</p>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal">
						<span class="fas fa-check"></span> Ок
					</button>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-settings" class="modal fade">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">
						<span class="card-icon fas fa-cog"></span> Настройки
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
                    <p>Управляйте своими пользовательскими настройками и данными.</p>
                    <div class="settings">
                        <div class="setting">
                            <div class="content">
                                <div class="description">
                                    <p class="title">Тема по умолчанию</p>
                                    <p>Выберите тему для своих монстров.</p>
                                </div>
                                <select class="form-control settings-theme">
                                    <option value="diamond">Бриллиант</option>
                                    <option value="giffyglyph">Вариант</option>
                                    <option value="5e">5e</option>
                                    <option value="transparent">Прозрачный</option>
                                </select>
                            </div>
                        </div>
                        <div class="setting">
                            <div class="content">
                                <div class="description">
                                    <p class="title">Активная защита</p>
                                    <p>Используйте правила <i>активной защиты</i> из <i>Giffyglyph's Darker Dungeons</i>.</p>
                                </div>
                                <select class="form-control settings-defence">
                                    <option value="disabled">Отключено</option>
                                    <option value="normal">Обычный (+22)</option>
                                    <option value="small">Маленький (+12)</option>
                                </select>
                            </div>
                        </div>
                        <div class="setting">
                            <div class="content">
                                <div class="description">
                                    <p class="title">Очистить локальные данные</p>
                                    <p>Удалить все локальные сохраненные данные.</p>
                                </div>
                                    <button type="button" class="btn btn-secondary btn-wipe-data">
                                    <span class="fas fa-trash"></span> Удаление данных
                                </button>
                            </div>
                            <div class="confirmation">
                                <div class="description">
                                    <p class="title">Очистить локальные данные</p>
                                    <p>Вы уверены?</p>
                                </div>
                                <button type="button" class="btn btn-secondary btn-wipe-data-cancel">
                                    <span class="fas fa-times"></span> Нет
                                </button>
                                <button type="button" class="btn btn-secondary btn-wipe-data-confirm">
                                    <span class="fas fa-check"></span> Да
                                </button>
                            </div>
                            <div class="confirmed">
                                <div class="description">
                                    <p class="title">Очистить локальные данные</p>
                                    <p>Удаление данных завершено.</p>
                                </div>
                                <span class="fas fa-check-circle"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-save" data-dismiss="modal">
                    <span class="fas fa-save"></span> Применить
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
